.page.links {
  margin-top: 30px;
  padding-top: 30px;
  height: 100%;

  .group:first-child {
    margin-top: 0px;
  }

  .group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;

    .name {
      span {
        font-size: 1.5em;
      }
    }

    .links {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
  }
}
