//$color-grey: #999999;
//$color-grey-y2: #d8d8d8;

$white: #fff;
$green: #4ba074;
$grey: #999999;

$color-background-darker: #25262a;
$color-backgournd-lighter: #2d2e32;

$color-font-normal: $white;

$color-button-bg: $green;
$color-button-border: #65f3af;
