a.button {
  div {
    margin: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-button-border;
    background-color: $color-button-bg;
    height: 45px;
    border-radius: 45px;
  }
}
