.profile.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .picture {
    margin-top: 15px;

    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }
  }

  .id {
    margin-top: 15px;

    span {
      color: #ffff;
      font-weight: bold;
    }
  }

  .titles {
    margin-top: 15px;
    font-size: $font-size-small;
  }

  .socials {
    margin-top: 15px;
    width: 200px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        a {
          color: $white;
          font-size: $font-size-icons;
        }
      }
    }
  }
}
