div .socials {
  margin-top: 15px;
  width: 150px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      display: inline;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5em;
      }
    }
  }
}
