html,
body {
  height: 100%;
}

body {
  background-color: $color-backgournd-lighter;
}

.bg-lighter {
  background-color: $color-backgournd-lighter;
}

.bg-darker {
  background-color: $color-background-darker;
}
